$avatarSize: 200px;
$enterAvatarSize: 150px;
$contentWidth: 250px;
$contentHeight: 600px;
$highlightSize: 4px;
// $firstColor: #b5a588;;
// $secondColor: #ddd;
// $thirdColor: #432a19;

// $firstColor: #c0bbb3;
// $firstColorTrans: #c0bbb300;
// $secondColor: #c9601c;
// $thirdColor: #322a23;

// $firstColor: #1c2810;
// $firstColorTrans: #1c281000;
// $secondColor: #c29d92;
// $thirdColor: #98a656;

// $firstColor: #ccc6bd;
// $firstColorTrans: #ccc6bd00;
// $secondColor: #c63a35;
// $thirdColor: #88bee5;

// $firstColor: rgb(206, 135, 105);
// $firstColorTrans: rgba(206, 135, 105, 0);
// $secondColor: rgb(248, 152, 65);
// $thirdColor: rgb(89, 95, 67);

$firstColor: rgb(77, 83, 83);
$firstColorTrans: rgba(77, 83, 83, 0);
$secondColor: rgb(203, 205, 208);
$thirdColor: rgb(240, 242, 244);
